.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  background-color: var(--slack-color);
  color: white;
}

.header__right {
  flex: 0.3;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.header__right > .MuiSvgIcon-root {
  margin-right: auto;
  margin-left: 30px;
}

.header__search {
  flex: 0.4;
  background-color: #421f44;
  text-align: center;
  display: flex;
  padding: 0 50px;
  border-radius: 6px;
}

.header__search > input {
  background-color: transparent;
  border: none;
  text-align: center;
  min-width: 35vw;
}

.header__left {
  flex: 0.3;
  display: flex;
  align-items: flex-start;
}

.header__left > .MuiSvgIcon-root {
  margin-right: auto;
  margin-left: 20px;
}
